.about__container {
  position: relative;
  padding: 221px 10px 116px 585px;
  background-image: url("../img/bg-about-desktop@1x.png"), url("../img/bg-about2-desktop@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 327px 448px, 369px 509px;
  background-position: 204px 110px, 26px 79px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-about-desktop@2x.png"), url("../img/bg-about2-desktop@2x.png");
  }

  &::before {
    @include pseudo ("", absolute, 425px, 485px);
    top: 65px;
    left: -25px;
    background-color: $blue;
    border-radius: 40px;
    transform: rotate(-40deg);
    z-index: -1;
  }

  @media (max-width: $desktop-breakpoint) {
    padding: 221px 3% 116px 51%;
    background-position: 25% 110px, 2% 79px;

    &::before {
      width: 348px;
      height: 386px;
      top: 89px;
      left: 8%;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    padding: 90px 10px 120px 330px;
    background-size: 171px 224px, 195px 254px;
    background-position: 167px 135px, 82px 27px;

    &::before {
      width: 212px;
      height: 242px;
      top: 65px;
      left: 61px;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 90px 154px 40px 16px;
    background-image: none, url("../img/bg-about2-desktop@1x.png");
    background-size: 0 0, 165px 224px;
    background-position: 0 0, 160px 130px;

    &::before {
      width: 114px;
      height: 152px;
      top: 130px;
      left: 180px;
      border-radius: 20px;
      transform: rotate(-22deg);
    }
  }
}

.about__title {
  margin: 0;
  margin-bottom: 26px;
  color: $dark-gray;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;

  @media (max-width: $tablet-breakpoint) {
    font-size: 20px;
    line-height: 17px;
  }
}

.about__content {
  margin: 0;
  margin-bottom: 22px;
  color: $gray;
  font-size: 16px;
  line-height: 27px;

  @media (max-width: $tablet-breakpoint) {
    font-size: 14px;
    line-height: 24px;
  }

  @media (max-width: $tablet-breakpoint) {
    font-size: 14px;
    line-height: 24px;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: 12px;
    line-height: 15px;
  }
}

.about__link {
  display: block;
  width: 105px;
  padding: 5px 20px 5px 0;
  color: $blue;
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
  text-decoration: none;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-size: 15px 11px;
  background-position: 89px 13px;
  outline: none;

  &:hover,
  &:focus {
    color: $hover-blue;
  }

  &:active {
    color: $hover-blue;
    opacity: 0.7;
  }

  @media (max-width: $tablet-breakpoint) {
    font-size: 14px;
    line-height: 24px;
  }
}
