.keep-in-touch__container {
  position: relative;
  padding: 98px 585px 219px 0;
  background-image: url("../img/bg-keep-in-touch-desktop@1x.png"), url("../img/bg-keep-in-touch2-desktop@2x.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 331px 447px, 373px 510px;
  background-position: 839px 76px, 639px 40px;

  &::before {
    @include pseudo ("", absolute, 400px, 350px);
    top: 50px;
    right: 0;
    background-color: $blue;
    border-radius: 25px;
    transform: rotate(45deg);
    z-index: -1;
  }
}

.keep-in-touch__title {
  margin: 0;
  margin-bottom: 20px;
  color: $dark-gray;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

.keep-in-touch__content {
  margin: 0;
  margin-bottom: 30px;
  color: $gray;
  font-size: 16px;
  line-height: 27px;
}

.keep-in-touch__link {
  display: block;
  width: 105px;
  padding: 5px 20px 5px 0;
  color: $blue;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-size: 15px 11px;
  background-position: 87px 13px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
