.logo__link {
  @include border-bottom-radius (21.5px, 21.5px);
  display: block;
  padding: 33px 24px 34px;
  background-color: $blue;
  outline: none;

  &--subscribe {
    border-radius: 0;
    background-color: transparent;
    padding: 10px;
  }

  &:hover,
  &:focus {
    background-color: $hover-blue;
  }

  &:active {
    background-color: $hover-blue;
    opacity: 0.7;
  }

  &--subscribe:hover,
  &--subscribe:focus {
    background-color: transparent;
    opacity: 0.7;
  }

  &--subscribe:active {
    background-color: transparent;
    opacity: 0.3;
  }

  @media (max-width: $tablet-breakpoint) {
    @include border-bottom-radius (10.5px, 10.5px);
    padding: 16px 12px 17px;
  }

  @media (max-width: $mobile-breakpoint) {
    &--subscribe {
      padding: 16px 77px 17px;
    }
  }
}

.logo__img {
  display: block;

  @media (max-width: $tablet-breakpoint) {
    width: 91px;
    height: 23px;
  }
}
