.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $desktop-width) {
    padding: 0 20px;
  }

  @media (max-width: $tablet-breakpoint) {
    padding: 0 5px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 0 15px 15px;
    align-items: flex-start;

    &--close {
      padding: 0;
    }

    &--close .navigation__toggler {
      margin-right: 15px;
    }

    &--close .navigation__logo {
      padding-left: 15px;
    }

    &--close .navigation__toggler::before,
    &--close .navigation__toggler::after {
      top: 23px;
      left: 13px;
      transform: rotate(45deg);
    }

    &--close .navigation__toggler::after {
      transform: rotate(-45deg);
    }

    &--close .navigation__list {
      @include border-bottom-radius (20px, 20px);
      display: block;
      width: 100%;
      background-color: $light-gray;
    }

    &--close .navigation__item {
      width: 100%;
      padding: 20px 16px;
      margin-bottom: 10px;
      border-bottom: 1px solid $button-gray;
    }

    &--close .navigation__item:last-child {
      margin-bottom: 80px;
    }

    &--close .navigation__sing-in {
      display: block;
    }
  }
}

.navigation__list {
  @include list-style (none, 0, 0);
  display: flex;
  margin-left: auto;
  padding: 25px 0;

  @media (max-width: $tablet-breakpoint) {
    padding: 15px 0;
  }

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column;
    display: none;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 40px;
}

.navigation__link {
  display: block;
  color: $gray;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;

  &--current {
    color: blue;
  }

  &:hover,
  &focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__sing-in {
  display: block;
  margin-left: 52px;
  padding: 12px 52px;
  color: $white;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  border: none;
  background-color: $dark-blue;
  border-radius: 25px;
  outline: none;
  cursor: pointer;

  &:hover,
  &focus {
    background-color: $hover-blue;
  }

  &:active {
    background-color: $hover-blue;
    opacity: 0.7;
  }

  @media (max-width: $desktop-width) {
    margin-left: 9%;
  }

  @media (max-width: $tablet-breakpoint) {
    padding: 6px 35px;
    font-size: 13px;
  }

  @media (max-width: $mobile-breakpoint) {
    display: none;
    margin: 0;
    margin-top: -65px;
  }
}
