.page-header__container {
  @include wrap ($desktop-width, 0 auto);
  position: absolute;
  padding: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: $header-width) {
    width: 100%;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 320px;
  }
}
