.review-card {
  @include list-style (none, 0, 0);
  position: relative;
  min-height: 209px;
  margin-left: 45.1%;
  margin-bottom: 47px;
  display: flex;

  @media (max-width: $desktop-width) {
    margin-left: 45%;
  }

  @media (max-width: $desktop-1440) {
    margin-left: 44.3%;
  }

  @media (max-width: $content-desktop-width) {
    margin-left: 42.8%;
  }

  @media (max-width: $desktop-breakpoint) {
    margin-left: 42.5%;
  }

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 17px;
  }

  @media (max-width: $mobile-breakpoint) {
    margin-left: 10%;
  }
}

.review-card__icon {
  fill: $blue;
}

.review-card__item {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 25px 35px 30px;
  width: 360px;
  background-color: $white;

  &:not(:last-child) {
    margin-right: 34px;
  }

  &--two {
    left: 396px;
  }

  &--three {
    left: 792px;
  }

  @media (max-width: $tablet-breakpoint) {
    padding: 15px;
    width: 250px;

    &--two {
      left: 284px;
    }

    &--three {
      left: 568px;
    }
  }
}

.review-card__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 14px;
}


.review-card__name {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $dark-gray;

  @media (max-width: $tablet-breakpoint) {
    font-size: 16px;
    line-height: 24px;
  }
}

.review-card__customer {
  margin: 0;
  font-size: 14px;
  line-height: 27px;
  color: $gray;

  @media (max-width: $tablet-breakpoint) {
    font-size: 12px;
    line-height: 24px;
  }
}

.review-card__content {
  margin: 0;
  width: 300px;
  font-size: 16px;
  line-height: 27px;
  color: $gray;

  @media (max-width: $tablet-breakpoint) {
    font-size: 14px;
    line-height: 24px;
    width: 200px;
  }
}

.review-card__img {
  display: block;
}
