.review-card {
  @include list-style (none, 0, 0);
  padding-left: 45.1%;
  margin-bottom: 47px;
  display: flex;

  @media (max-width: $tablet-breakpoint) {
    margin-bottom: 17px;
  }

  @media (max-width: $mobile-breakpoint) {
    padding-left: 10%;
  }
}

.review-card__icon {
  fill: $blue;
}

.review-card__item {
  padding: 25px 25px 35px 30px;
  width: 360px;
  background-color: $white;

  &:not(:last-child) {
    margin-right: 34px;
  }

  @media (max-width: $tablet-breakpoint) {
    padding: 15px;
    width: 250px;
  }
}

.review-card__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 14px;
}


.review-card__name {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $dark-gray;

  @media (max-width: $tablet-breakpoint) {
    font-size: 16px;
    line-height: 24px;
  }
}

.review-card__customer {
  margin: 0;
  font-size: 14px;
  line-height: 27px;
  color: $gray;

  @media (max-width: $tablet-breakpoint) {
    font-size: 12px;
    line-height: 24px;
  }
}

.review-card__content {
  margin: 0;
  width: 300px;
  font-size: 16px;
  line-height: 27px;
  color: $gray;

  @media (max-width: $tablet-breakpoint) {
    font-size: 14px;
    line-height: 24px;
    width: 200px;
  }
}

.review-card__img {
  display: block;
}
