.scroll {
  position: fixed;
  bottom: 25px;
  right: 7.8%;

  &--close {
    display: none;
  }

  @media (max-width: $mobile-breakpoint) {
    right: 50%;
    transform: translateX(50%);
  }
}

.scroll__button {
  width: 45px;
  height: 45px;
  padding: 0;
  border: none;
  border-radius: 3px;
  background-color: $white;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  background-size: 24px 17px;
  background-position: 11px 13px;
  transform: rotate(-90deg);
  outline: none;
  cursor: pointer;
  box-shadow: 2px -2px 15px 0 $shadow80;
}
