// шрифт //
$font-family: "Quicksand", "Arial", sans-serif;


// цвета  //

$white: #ffffff;
$blue: #0f7bff;
$gray: #929292;
$dark-blue: #0063dd;
$dark-gray: #333333;

// ширина экрана //

$desktop-width: 1640px;
$content-desktop-width: 1140px;
$max-desktop-width: 1921px;

/** подготовка графики - ретина **/
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
